[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wentianyang
[access "refs/for/refs/*"]
	read = group user/wentianyang
	push = group user/wentianyang
	label-Code-Review = -2..+2 group user/wentianyang
	label-Verified = -1..+1 group user/wentianyang
	rebase = group user/wentianyang
	removeReviewer = group user/wentianyang
	submit = group user/wentianyang
[access "refs/heads/*"]
	read = group user/wentianyang
	create = group user/wentianyang
	push = +force group user/wentianyang
	pushMerge = group user/wentianyang
[access "refs/tags/*"]
	push = group user/wentianyang
	push = +force group user/wentianyang
